---
http_interactions:
- request:
    method: get
    uri: http://api.bookdepository.com/search/comingsoon?IP=127.0.0.1&authenticationKey=<AUTH_KEY>&clientId=<CLIENT_ID>&countryCode=GB&currencies=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <result><resultset><status code="1">Success</status><results>20</results><totalResults>1000</totalResults><currentPage>1</currentPage><totalPages>50</totalPages></resultset><items><item><identifiers><isbn13>9780141350189</isbn13></identifiers><url type="direct">http://www.bookdepository.com/Bloodlines-Silver-Shadows-book-5-Richelle-Mead/9780141350189?utm_medium=api&amp;utm_campaign=<CLIENT_ID>&amp;a_aid=partly&amp;utm_term=&amp;utm_source=book_link&amp;utm_content=Bloodlines-Silver-Shadows-book-5</url><biblio><title>Bloodlines: Silver Shadows (book 5)</title><format>Paperback</format></biblio><availability>Pre-order</availability><pricing><price currency="GBP"><retail>7.99</retail><selling>7.15</selling></price></pricing><contributors><contributor><name>Richelle Mead</name><roleDescription>By (author)</roleDescription><url type="search">http://www.bookdepository.com/author/Richelle-Mead?utm_medium=api&amp;utm_campaign=<CLIENT_ID>&amp;a_aid=partly&amp;utm_term=&amp;utm_source=contributor_link&amp;utm_content=Richelle-Mead</url></contributor></contributors></item><item><identifiers><isbn13>9780525427223</isbn13></identifiers><url type="direct">http://www.bookdepository.com/Book-Life-Deborah-Harkness/9780525427223?utm_medium=api&amp;utm_campaign=<CLIENT_ID>&amp;a_aid=partly&amp;utm_t[...]
- request:
    method: get
    uri: http://api.bookdepository.com/search/books?IP=127.0.0.1&authenticationKey=<AUTH_KEY>&clientId=<CLIENT_ID>&countryCode=GB&currencies=GBP&keywords=Architecture
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <result><resultse[...]
- request:
    method: get
    uri: http://api.bookdepository.com/search/bestsellers?IP=127.0.0.1&authenticationKey=<AUTH_KEY>&clientId=<CLIENT_ID>&countryCode=GB&currencies=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <result><resultset><status code="[...]
- request:
    method: get
    uri: http://api.bookdepository.com/search/lookup?IP=127.0.0.1&authenticationKey=<AUTH_KEY>&clientId=<CLIENT_ID>&countryCode=GB&currencies=GBP&isbn13=9780262062664
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <result><resultse[...]
